NET "enout" LOC = AP7;
NET "clkin" LOC = AV5;
NET "rstp" LOC = AU5;
NET "ldin" LOC = AN5;
NET "abin[0]"	LOC = D22;
NET "abin[1]"	LOC = C22;
NET "abin[2]"	LOC = A24;
NET "abin[3]"	LOC = A23;
NET "abin[4]"	LOC = C19;
NET "abin[5]"	LOC = C18;
NET "abin[6]"	LOC = E28;
NET "abin[7]"	LOC = F28;
NET "abin[8]"	LOC = H25;
NET "abin[9]"	LOC = J26;
NET "abin[10]"	LOC = J22;
NET "abin[11]"	LOC = H22;
NET "abin[12]"	LOC = J31;
NET "abin[13]"	LOC = K31;
NET "abin[14]"	LOC = G22;
NET "abin[15]"	LOC = F21;
NET "abin[16]"	LOC = F23;
NET "abin[17]"	LOC = E22;
NET "abin[18]"	LOC = AJ9;
NET "abin[19]"	LOC = G25;
NET "abin[20]"	LOC = G26;
NET "abin[21]"	LOC = D29;
NET "abin[22]"	LOC = E29;
NET "abin[23]"	LOC = B26;
NET "abin[24]"	LOC = A26;
NET "abin[25]"	LOC = L24;
NET "abin[26]"	LOC = K23;
NET "abin[27]"	LOC = C23;
NET "abin[28]"	LOC = B23;
NET "abin[29]"	LOC = E21;
NET "abin[30]"	LOC = D21;
NET "abin[31]"	LOC = C20;
NET "abin[32]"	LOC = D20;
NET "abin[33]"	LOC = AD2;
NET "abin[34]"	LOC = AD1;
NET "abin[35]"	LOC = AL9;
NET "comcheck[0]"	LOC = AK9;
NET "comcheck[1]"	LOC = AG2;
NET "comcheck[2]"	LOC = AG1;
NET "comcheck[3]"	LOC = AR9;
NET "comcheck[4]"	LOC = AP9;
NET "comcheck[5]"	LOC = AR3;
NET "comcheck[6]"	LOC = AR2;
NET "comcheck[7]"	LOC = AJ4;
NET "comcheck[8]"	LOC = AH4;
NET "comcheck[9]"	LOC = AH3;
NET "comcheck[10]"	LOC = AH2;
NET "comcheck[11]"	LOC = AL1;
NET "comcheck[12]"	LOC = AK1;
NET "comcheck[13]"	LOC = AU12;
NET "comcheck[14]"	LOC = AU11;
NET "comcheck[15]"	LOC = AM3;
NET "comcheck[16]"	LOC = AL3;
NET "comcheck[17]"	LOC = AD5;
NET "comcheck[18]"	LOC = AD4;
NET "comcheck[19]"	LOC = AG3;
NET "comcheck[20]" LOC = AF3;
NET "comcheck[21]"	LOC = AB11;
NET "comcheck[22]"	LOC = AB10;
NET "comcheck[23]"	LOC = AG20;
NET "comcheck[24]"	LOC = AF20;
NET "comcheck[25]"	LOC = AL21;
NET "comcheck[26]"	LOC = AK21;
NET "comcheck[27]"	LOC = AT16;
NET "comcheck[28]"	LOC = AT15;
NET "comcheck[29]"	LOC = AU22;
NET "comcheck[30]"	LOC = AU21;
NET "comcheck[31]"	LOC = AP2;
NET "comcheck[32]"	LOC = AP1;
NET "comcheck[33]"	LOC = AU2;
NET "comcheck[34]"	LOC = AU1;
NET "comcheck[35]"	LOC = AJ10;
NET "compareout512" LOC = AN7;
